<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds">
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <property scope="context" resource="application.properties"/>
    <contextName>getefnews</contextName>

    <jmxConfigurator/>

    <!-- direct log messages to stdout -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5p |-%c{35}:%L - %m %n</pattern>
        </encoder>
    </appender>
    <!-- 文件输出 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${efnews.loggingRoot}/efnews.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${efnews.loggingRoot}/%d{yyyy-MM,aux}/efnews.%d.%i.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{36}.%M\(%L\) %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${efnews.loggingRoot}/efnews-all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${efnews.loggingRoot}/%d{yyyy-MM,aux}/efnews-all.log.%d.%i.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{36}.%M\(%L\) %m%n</pattern>
        </encoder>
    </appender>

    <appender name="REST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${efnews.loggingRoot}/efnews-rest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${efnews.loggingRoot}/%d{yyyy-MM,aux}/efnews-rest.log.%d.%i.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{36}.%M\(%L\) %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STATISTICS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${efnews.loggingRoot}/efnews-statistics.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${efnews.loggingRoot}/%d{yyyy-MM,aux}/efnews-statistics.log.%d.%i.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{36}.%M\(%L\) %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CACHE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${efnews.loggingRoot}/efnews-cache.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${efnews.loggingRoot}/%d{yyyy-MM,aux}/efnews-cache.log.%d.%i.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{36}.%M\(%L\) %m%n</pattern>
        </encoder>
    </appender>

    <appender name="REMOTE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${efnews.loggingRoot}/efnews-remote.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${efnews.loggingRoot}/%d{yyyy-MM,aux}/efnews-remote.log.%d.%i.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{36}.%M\(%L\) %m%n</pattern>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${efnews.loggingRoot}/efnews-sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${efnews.loggingRoot}/%d{yyyy-MM,aux}/efnews-sql.log.%d.%i.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{36}.%M\(%L\) %m%n</pattern>
        </encoder>
    </appender>

    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${efnews.loggingRoot}/efnews-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${efnews.loggingRoot}/error/efnews-error.%d{yyyy-MM-dd}.%i.log
            </FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %5p |-%c{35}:%L - %m %n
            </pattern>
        </encoder>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${efnews.loggingRoot}/efnews-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${efnews.loggingRoot}/%d{yyyy-MM,aux}/efnews-info.log.%d.%i.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %5p |-%c{35}:%L - %m %n
            </pattern>
        </encoder>
    </appender>

    <appender name="httpAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ASYNCFile" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="file"/>
    </appender>
    <appender name="ASYNCHttpAppender" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="httpAppender"/>
    </appender>
    <appender name="ASYNCConsole" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="stdout"/>
    </appender>

    <!--全部的日志-->
    <logger name="com.wedoctor" level="${efnews.loggingLevel}" >
        <appender-ref ref="ALL" />
    </logger>

    <!-- 定义SQL日志 -->
    <logger name="java.sql" level="${efnews.loggingLevel}" >
        <appender-ref ref="SQL" />
    </logger>

    <!-- 定义cache 日志 -->
    <logger name="org.springframework.data.redis" level="${efnews.loggingLevel}" >
        <appender-ref ref="CACHE" />
    </logger>

    <!-- 定义rest日志 -->
    <logger name="rest" level="info" >
        <appender-ref ref="REST" />
    </logger>

    <!-- 定义Spring日志 -->
    <logger name="org.springframework" level="${efnews.loggingLevel}" >
        <appender-ref ref="ALL" />
    </logger>

    <logger name="org.apache" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.data.redis.core" level="INFO"/>
    <logger name="org.mybatis.spring" level="INFO" />
    <logger name="com.wangshuai.efnews.dal" level="INFO" />
    <logger name="freemarker.cache" level="INFO" />
    <logger name="org.eclipse.jetty" level="INFO" />
    <logger name="com.netflix" level="INFO" />

    <root level="${efnews.loggingLevel}">
        <appender-ref ref="ASYNCFile"/>
        <appender-ref ref="ASYNCConsole"/>
        <appender-ref ref="ASYNCHttpAppender"/>
        <appender-ref ref="errorFile"/>
    </root>
</configuration>